//variables
tablet = '(min-width: 40rem)'
desktop = '(min-width: 62rem)'

// placholders
$small-font {
	font-size: .9rem
}

$flex-col {
	display: flex
	flex-direction: column
	flex-wrap: nowrap
}
$flex-row-wrap {
	flex-direction: row
	flex-wrap: wrap	
}

// mixins
on(x) {
  @media x { block }
}

// app
.grads {
	@extends $flex-col
	margin: 0 auto
	justify-content: space-between
	+on(tablet) {
		@extends $flex-row-wrap
	}
}

.grad-card {
	@extends $flex-col
	width: 100%
	margin: 0 0 1.5rem
	padding: 24px
    box-shadow: 
		0 3px 1px -2px rgba(0,0,0,.2),
		0 2px 2px 0 rgba(0,0,0,.14), 
		0 1px 5px 0 rgba(0,0,0,.12)
    +on(tablet) {
		width: 47%
		margin: 0 1% 1.5rem
    }
    +on(desktop) {
		width: 31%
    }
}

.grad-header {
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: top
	margin-bottom: 15px
	.grad-img {
		padding: 10px 5px
		img {
			display: block
			width: 100px
			height: @width
			border-radius: 50%
		}
	}
	.grad-intro {
		margin-left: 4%
		.grad-name {
			display: flex
			font-size: 1.3rem
			color: #2198d9
			line-height: 1.4
		}
		.grad-program {
			display: flex
			font-style: italic
			font-weight: bold
			color: #8a8a8a
			font-size: .9rem
		}
	}
}

.grad-section {
	display: flex
	flex-direction: column
	flex-grow: 1
	@extends $small-font
	.grad-research {
		padding:  5px 10px
		margin: 0 auto 15px
		background: #f9f9f9
		border-radius: 5%
	}
	.grad-email {
		margin-top: auto
		a[href*="@ucr.edu"]:after {
			display: inline-block
			font: normal normal normal 24px/1 "Material Design Icons"
			font-size: inherit
			text-rendering: auto
			line-height: inherit
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			content: "\f1f0"
			padding-left: 4px
		}
	}
	.grad-website {
		text-align: right
		a {
			color: #fff
			background: rgba(9, 121, 221, 0.71)
			margin-top: 15px
			user-select: none
			cursor: pointer
			outline: 0
			border: none
			-webkit-tap-highlight-color: transparent
			display: inline-block
			white-space: nowrap
			text-decoration: none
			vertical-align: baseline
			text-align: center
			min-width: 88px
			line-height: 36px
			padding: 0 16px
			border-radius: 2px
			box-shadow: 
				0 3px 1px -2px rgba(0,0,0,.2),
				0 2px 2px 0 rgba(0,0,0,.14),
				0 1px 5px 0 rgba(0,0,0,.12)
			transition:
				background .3s ease,
				box-shadow .3s ease
			&:hover {
				color: #fff
				background: rgba(9, 121, 221, 0.55)
				box-shadow: none
			}
		}
	}
	.grad-faculty {
		border-top: 1px solid rgba(204, 204, 204, 0.55)
		background: #fff
		padding: 15px 0 0
		text-align: left
		margin: 15px 0 0
	}
}